@font-face {
  font-family: IranSans;
  src: url(./FontsFree-Net-ir_sans.ttf);
}
body {
  margin: auto;
  align-items: center;
  text-align: center;
  font-family: IranSans, Tahoma;
  font-size: larger;
}
.text-Head {
  cursor: pointer;
}
.todobox {
  width: 95%;
  margin: auto;
  margin-top: 0px;
  display: flex;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: larger;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: 500;
}

.categorybox {
  width: 90%;
  margin: auto;
  margin-top: 0px;
  display: flex;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: larger;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: 500;
}

.border-lefts {
  border-left: rgb(43, 135, 255) 10px solid;
}
.border-lefte {
  border-left: rgb(255, 216, 43) 10px solid;
}
.border-rights {
  border-right: rgb(43, 135, 255) 10px solid;
}
.border-righte {
  border-right: rgb(255, 216, 43) 10px solid;
}
.border-lefte:active {
  border-left: rgb(255, 43, 107) 10px solid;
}
.border-lefts:active {
  border-left: rgb(255, 43, 107) 10px solid;
}
.border-righte:active {
  border-right: rgb(255, 43, 107) 10px solid;
}
.border-rights:active {
  border-right: rgb(255, 43, 107) 10px solid;
  
}
.input-group-width {
  width: 50%;
  margin: auto;
}
.box-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 20px -10px rgb(29, 32, 71);
}
.shadow {
  box-shadow: 0px 0px 20px -10px rgb(29, 32, 71);
}
.or--y {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  font-size: 17px;
  -webkit-box-orient: vertical;
}
.or--y::before,
.or--y::after {
  position: absolute;
  border-left: 1px solid #ccc;
  height: calc(50% - 0.85em);
  left: 50%;
  margin-left: -1px;
}

/* ::before on top */
.or--y::before {
  top: 0;
}

/* ::after on bottom */
.or--y::after {
  bottom: 0;
}

/* Horizontal */
.or--x::before,
.or--x::after {
  position: relative;
  border-top: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin-bottom: 0.15em;
  overflow: hidden;
}

.or--x::before {
  right: 0.5em;
  margin-left: -50%;
}

.or--x::after {
  left: 0.5em;
  margin-right: -50%;
}

/* Demo styles */
.demo {
  margin: 4em 1em;
  text-align: center;
}

.demo .or {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #828282;
  font-size: 0.75em;
  margin: 4em auto;
}

.or::before,
.or::after {
  content: "";
}

.box-text-les {
  width: 400px;
  position: absolute;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  margin-top: 0px;
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
  min-height: 100px;
  box-shadow: 0px 30px 50px -10px rgba(29, 32, 71, 0.19);
}
.continer {
  display: flex;
  margin-top: -28px;
}
.navLeft {
  width: 80%;
  height: 100%;
}
.navLeft2 {
  width: 100%;
  height: 100%;
  height: 610px !important;
}
.navRight {
  height: 690px;
  width: 20%;
  overflow: auto;
  background-color: #f2f3f5;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 5px;
}
.dashed {
  border-bottom: #828282 dashed 1px;
  border-top: #828282 dashed 1px;
}
.left-dashed {
  border-left: #828282 dashed 1px;
}
.right-dashed {
  border-right: #828282 dashed 1px;
}
.tabs2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  font-size: 15px;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: iransans;
  box-shadow: 0px 0px 5px #46464f2a;
}
.tabs2:hover {
  width: 90%;
  height: 50px, auto;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: rgb(255, 43, 107);
  box-shadow: 0px 0px 5px #8f8f9350;

}
.text-tabL {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: left;
  width: 80%;
  padding: 15px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.text-tabR {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: right;
  width: 80%;
  padding: 15px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.active-btn {
  background-color: #f5f5f5 !important;
  color: #25252f !important;
  border-color: #f5f5f5 !important;
}
.themDarkBack {
  background-color: #2f2f44f2;
  color: #f5f5f5;
  border-color: #25252f;
}
.themDarkBack:focus {
  background-color: #545463f2;
  color: #f5f5f5;
  border-color: #25252f;
}
.alert-d {
  background-color: #2f2f44f2;
  color: #f5f5f5;
}
.alert-l {
  background-color: #f5f5f5 ;
  color: #25252f ;
}
