

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://artafallahpoor.github.io/TodoAppInReact.js/$1 [L,R=301] 

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://artafallahpoor.github.io/TodoAppInReact.js/$1 [L,R=301]
